<div class="overlap-3" id="about-us">
    <img class="img" src="../../../assets/img/line-3.svg" />
    <img class="group-5" src="../../../assets/img/group.png" />
    <div class="text-wrapper-12">We are ChAI</div>
    <p class="text-wrapper-14">
      We are a passionate team of professionals dedicated to innovation and business success. With a background in
      technology, we aspire to transform and enhance your business approach
    </p>
    <p class="text-wrapper-15">
      We work by offering intelligent and customized solutions with the assistance of Artificial Intelligence.
      Our mission is to keep you always one step ahead in the dynamic and competitive business world,
      providing you with the necessary tools to achieve your goals and overcome your challenges.
    </p>
    <img class="rectangle-2" src="../../../assets/img/rectangle-8.png" />
    <img class="img" src="../../../assets/img/line-5.svg" />
  </div>