<div class="overlap-3" id="about-us">
    <img class="img" src="../../../assets/img/line-3.svg" />
    <img class="group-5" src="../../../assets/img/group.png" />
    <div class="text-wrapper-12">We are ChAI</div>
    <div class="text-wrapper-13">Nuestro Equipo</div>
    <p class="text-wrapper-14">
      We are a passionate team of professionals dedicated to innovation and business success. With a background in
      technology, we aspire to transform and enhance your business approach
    </p>
    <p class="text-wrapper-15">
      Trabajamos ofreciendo soluciones inteligentes y personalizadas con asistencia de Inteligencia Artificial.
      Nuestra misión es mantenerte siempre un paso adelante en el dinámico y competitivo mundo empresarial,
      brindándote las herramientas necesarias para alcanzar tus metas y superar tus desafíos.
    </p>
    <img class="rectangle-2" src="../../../assets/img/rectangle-8.png" />
    <img class="img" src="../../../assets/img/line-5.svg" />
  </div>