<div class="overlap">
    <div class="text-wrapper">Boost your success</div>
    <img class="group-5" src="../../../assets/img/group.png" />
    <div class="overlap-group">
      <p class="p">
        Our Artificial Intelligence-Powered Software System enhances the quality and efficiency of your products
        and services. Optimize your performance and surpass market expectations with our cutting-edge Continuous
        Improvement Platform
      </p>
      <img class="rectangle" src="../../../assets/img/rectangle-7.png" />
      <p class="text-wrapper-2">Experience a product and service evolution through our AI Revolution</p>
      <img class="line" src="../../../assets/img/line-2.svg" />
    </div>
    <div class="overlap-group-wrapper">
      <div class="div-wrapper"><div class="text-wrapper-3">Contact Us</div></div>
    </div>
  </div>