/* navigation.component.css */

.navbar {
  font-family: "Poppins-SemiBold", Helvetica;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 99%;
  z-index: 1000;
  height: 50px;
  box-shadow: 0px 4px 4px #00000040;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 40px;
  margin-right: 10px;
}

.nav-list {
  flex-grow: 1; /* Ocupa todo el espacio disponible en el centro */
}

.nav-list ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin-right: 20px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 19px;
}

.nav-list a {
  text-decoration: none;
  color: black;
}

.nav-list a:hover {
  color: #5255e2;
}

.actions {
  display: flex;
  align-items: center;
}

.actions button {
  font-family: "Poppins-SemiBold", Helvetica;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  width: 60px;
  height: 40px;
  font-size: 0.6rem;
}

.show-modal {
  background-color: rgb(33, 172, 149);
}
