<div class="nav">
  <div class="group-6">
    <div class="overlap-5">
      <div class="text-wrapper-16">lA BALSA</div>
      <div class="text-wrapper-17">IT SOLUTIONS</div>
    </div>
    <img class="LOGO" src="../../../assets/img/logo-1.png" />
  </div>
  <div class="frame">
    <div class="frame-2">
      <div class="rectangle-3"></div>
      <div class="frame-3"><a href="#" class="text-wrapper-18">Home</a></div>
      <div class="frame-3">
        <div class="our-services">Our&nbsp;&nbsp;Services</div>
      </div>
    </div>
    <div class="frame-wrapper">
      <div class="frame-3"><a class="text-wrapper-19" href="#about-us">About Us</a></div>
    </div>
    <div class="frame-wrapper">
      <div class="frame-wrapper">
        <div class="frame-3">
          <div class="text-wrapper-19">Suscribe Us</div>
        </div>
      </div>
    </div>
  </div>
  <div class="ellipse"></div>
  <img class="line-3" src="../../../assets/img/line-1.svg" />
  <!-- <div class="frame-4">
    <div class="frame-5">
      <div class="text-wrapper-20">Español</div>
      <img class="img-2" src="../../../assets/img/arrow.svg" />
    </div>
  </div> -->
</div>

<!-- <header>
 <div style="display: flex; gap: 12px;">
    <img class="LOGO" src="../../../assets/img/logo-1.png" />
    <nav>
      <a href="">home</a><a href="">our services</a><a href="">about us</a><a href="">suscribe us</a>
    </nav>
 </div>
  <a href="">español</a>
</header> -->
