<div class="overlap-4" id="subscribe-us">
    <img class="line-2" src="../../../assets/img/line-4.svg" />
    <div class="property-default">
      <div class="copy-component">
        <div class="heading-text">
          <div class="heading">Subscription Plan</div>
          <p class="subheading">Choose the option that suits you best.</p>
        </div>
      </div>
      <div class="price-plans">
        <div class="plan">
          <div class="heading-2">
            <div class="title">Basic</div>
            <div class="short-description">Ideal for entrepreneurs</div>
          </div>
          <div class="div-2"><div class="element">$10.000 ARS</div></div>
          <div class="feature-list">
            <div class="div-2">
              <img class="img-2" src="../../../assets/img/CheckCircle  --icon.svg" />
              <div class="list-item">Limited projects</div>
            </div>
            <div class="div-2">
              <img class="img-2" src="../../../assets/img/CheckCircle  --icon.svg" />
              <div class="list-item">5 GB of storage</div>
            </div>
            <div class="div-2">
              <img class="img-2" src="../../../assets/img/CheckCircle  --icon.svg" />
              <div class="list-item">Basic Support</div>
            </div>
            <div class="div-2">
              <img class="img-2" src="../../../assets/img/CheckCircle  --icon.svg" />
              <div class="list-item">Integrations</div>
            </div>
          </div>
          <button class="button">
            <div class="text-container"><button class="CTA">Contract Basic</button></div>
          </button>
        </div>
        <div class="plan-2">
          <div class="heading-2">
            <div class="title">Professional</div>
            <div class="short-description">For small companies</div>
          </div>
          <div class="div-2">
            <div class="price">
              <div class="element">$25.000 ARS</div>
              <div class="element-2">98</div>
            </div>
            <div class="details-container"></div>
          </div>
          <div class="feature-list">
            <div class="div-2">
              <img class="img-2" src="../../../assets/img/CheckCircle  --icon.svg" />
              <div class="list-item">Unlimited Projectss</div>
            </div>
            <div class="div-2">
              <img class="img-2" src="../../../assets/img/CheckCircle  --icon.svg" />
              <div class="list-item">Unlimited Storage</div>
            </div>
            <div class="div-2">
              <img class="img-2" src="../../../assets/img/CheckCircle  --icon.svg" />
              <div class="list-item">Dedicated support</div>
            </div>
            <div class="div-2">
              <img class="img-2" src="../../../assets/img/CheckCircle  --icon.svg" />
              <div class="list-item-2">Premium Access</div>
            </div>
          </div>
          <button class="text-container-wrapper">
            <div class="text-container"><button class="CTA-2">Hire Professional</button></div>
          </button>
        </div>
        <div class="plan">
          <div class="heading-2">
            <div class="title">Corporate</div>
            <div class="short-description">For large companies</div>
          </div>
          <div class="div-2"><div class="element">$20.000 ARS</div></div>
          <div class="feature-list">
            <div class="div-2">
              <img class="img-2" src="../../../assets/img/CheckCircle  --icon.svg" />
              <div class="list-item">Unlimited Projects</div>
            </div>
            <div class="div-2">
              <img class="img-2" src="../../../assets/img/CheckCircle  --icon.svg" />
              <div class="list-item">Unlimited Storage</div>
            </div>
            <div class="div-2">
              <img class="img-2" src="../../../assets/img/CheckCircle  --icon.svg" />
              <div class="list-item">24/7 support</div>
            </div>
            <div class="div-2">
              <img class="img-2" src="../../../assets/img/CheckCircle  --icon.svg" />
              <div class="list-item">Custom Integrations</div>
            </div>
          </div>
          <button class="button">
            <div class="text-container"><button class="CTA">Hire Corporate</button></div>
          </button>
        </div>
      </div>
    </div>
  </div>