<div class="text-wrapper-4">What we do</div>
        <p class="text-wrapper-5">Nuestro modelo funciona de la siguiente forma</p>
        <div class="overlap-wrapper">
          <div class="overlap-2">
            <img class="vector" src="../../../assets/img/vector.svg" />
            <div class="overlap-group-2"><div class="text-wrapper-6">General Analysis</div></div>
            <p class="text-wrapper-7">
              Unlock the power of our advanced AI tech, meticulously analyzing your products and services to unveil
              untapped potential for enhancements.
            </p>
          </div>
        </div>
        <div class="group-2">
          <div class="overlap-2">
            <img class="vector" src="../../../assets/img/vector.svg" />
            <div class="overlap-group-3"><div class="text-wrapper-8">Easily Attainable Data</div></div>
            <p class="text-wrapper-9">
              Introducing clear and accessible outcomes through reports that spotlight quality enhancements, ensuring
              instant comprehension.
            </p>
          </div>
        </div>
        <div class="group-3">
          <div class="overlap-2">
            <img class="vector" src="../../../assets/img/vector.svg" />
            <div class="overlap-group-4"><div class="text-wrapper-8">Execution</div></div>
            <p class="text-wrapper-10">
              We will guide you through a personalized process tailored to your industry and goals, equipping you with
              essential tools to implement meaningful enhancements
            </p>
          </div>
        </div>
        <div class="group-4">
          <div class="overlap-2">
            <img class="vector" src="../../../assets/img/vector.svg" />
            <div class="overlap-group-5"><div class="text-wrapper-8">Ongoing Monitoring</div></div>
            <p class="text-wrapper-11">
              Improvement never rests. Our platform provides continuous monitoring to assess the impact of implemented
              enhancements
            </p>
          </div>
        </div>
