<div class="business-container">
<div class="dash-usuario-5-12">
    <div class="nombre-del-proyecto">Academic Courses Taught on the Platform</div>
    <div class="tipo-de-proyecto">Service</div>
    <div class="descripcin">Academic courses delivered on the platform offer a unique opportunity to learn about a wide range of topics, from technical skills to current issues. The courses are designed to be accessible to students of all levels of experience, from beginners to experts.</div>
    <div class="rectangle-parent">
        <img class="frame-child" alt="" src="../../../assets/img/rectangle-6@2x.png" />

        <img class="frame-item" alt="" src="../../../assets/img/rectangle-7@2x.png" />

        <img class="frame-inner" alt="" src="../../../assets/img/rectangle-8@2x.png" />

        <img class="rectangle-icon" alt="" src="../../../assets/img/rectangle-9@2x.png" />

        <img class="rectangle-icon" alt="" src="../../../assets/img/rectangle-10@2x.png" />

        <img class="rectangle-icon" alt="" src="../../../assets/img/rectangle-11@2x.png" />

        <img class="frame-item" alt="" src="../../../assets/img/rectangle-12@2x.png" />

        <div class="rectangle-div"></div>
        <div class="group-wrapper">
            <div class="rectangle-group">
                <div class="group-child"></div>
                <div class="rectangle-container">
                    <div class="group-item"></div>
                    <div class="group-inner"></div>
                </div>
            </div>
        </div>
    </div>
    <img class="dash-usuario-5-12-child" alt="" src="../../../assets/img/rectangle-41255@2x.png" />

    <div class="dash-usuario-5-12-item"></div>
    <img class="dash-usuario-5-12-inner" alt="" src="../../../assets/img/group-1000002904.svg" />

    <div class="buscar-por-red-social-parent">
        <div class="buscar-por-red">Search on Social Networks</div>
        <div class="group-child1"></div>
        <img class="search-icon" alt="" src="../../../assets/img/search.svg" />
    </div>
    <div class="frame-parent">
        <div class="frame-group">
            <div class="frame-div"></div>
            <div class="ddmmaaa-parent">
                <div class="ddmmaaa">12/9/2023</div>
                <div class="comentario">I am very happy with the C# course. The content is very complete and very well explained. The teachers are very professional and always willing to help.</div>
            </div>
        </div>
        <div class="instance-parent">
            <img class="star-icon" alt="" src="../../../assets/img/star-1.svg" />

            <img class="star-icon" alt="" src="../../../assets/img/star-1.svg" />

            <img class="star-icon" alt="" src="../../../assets/img/star-1.svg" />

            <img class="star-icon" alt="" src="../../../assets/img/star-1.svg" />

            <img class="star-icon" alt="" src="../../../assets/img/star-1.svg" />
        </div>
        <div class="argentina-jujuy">Argentina, Jujuy</div>
    </div>
    <img class="deviconfacebook" alt="" src="../../../assets/img/deviconfacebook.svg" />

    <div class="frame-container">
        <div class="frame-group">
            <div class="frame-div"></div>
            <div class="ddmmaaa-parent">
                <div class="ddmmaaa">11/9/2023</div>
                <div class="comentario">I was a bit disappointed with the Java course. The content is too basic and does not cover all the topics I expected. Also, the teachers are not very clear at times and it is difficult to understand them.</div>
            </div>
        </div>
        <div class="instance-parent">
            <img class="star-icon" alt="" src="../../../assets/img/star-1.svg" />

            <img class="star-icon" alt="" src="../../../assets/img/star-1.svg" />

            <img class="star-icon" alt="" src="../../../assets/img/star-1.svg" />

            <img class="star-icon" alt="" src="../../../assets/img/star-1.svg" />

            <img class="star-icon" alt="" src="../../../assets/img/star-1.svg" />
        </div>
        <div class="argentina-jujuy1">Argentina, Jujuy</div>
    </div>
    <img class="deviconfacebook1" alt="" src="../../../assets/img/deviconfacebook1.svg" />

    <div class="frame-parent2">
        <div class="frame-group">
            <div class="frame-div"></div>
            <div class="ddmmaaa-parent">
                <div class="ddmmaaa">11/9/2023</div>
                <div class="comentario">The React course is very interesting, but it lacks a little more practice. The proposed exercises are too easy and do not allow students to apply what they have learned.</div>
            </div>
        </div>
        <div class="instance-parent">
            <img class="star-icon" alt="" src="../../../assets/img/star-1.svg" />

            <img class="star-icon" alt="" src="../../../assets/img/star-1.svg" />

            <img class="star-icon" alt="" src="../../../assets/img/star-1.svg" />

            <img class="star-icon" alt="" src="../../../assets/img/star-1.svg" />

            <img class="star-icon" alt="" src="../../../assets/img/star-1.svg" />
        </div>
        <div class="argentina-jujuy2">Argentina, Jujuy</div>
    </div>
    <img class="deviconfacebook2" alt="" src="../../../assets/img/deviconfacebook2.svg" />
</div>
</div>