    <div class="dash-usuario">
      <div class="div">
       
        <div class="text-wrapper-4">What we do</div>
        <p class="text-wrapper-5">Nuestro modelo funciona de la siguiente forma</p>
        <div class="overlap-wrapper">
          <div class="overlap-2">
            <img class="vector" src="../../../assets/img/vector-2.svg" />
            <div class="overlap-group-2"><div class="text-wrapper-6">General Analysis</div></div>
            <p class="text-wrapper-7">
              Unlock the power of our advanced AI tech, meticulously analyzing your products and services to unveil
              untapped potential for enhancements.
            </p>
          </div>
        </div>
        <div class="group-2">
          <div class="overlap-2">
            <img class="vector" src="../../../assets/img/vector.svg" />
            <div class="overlap-group-3"><div class="text-wrapper-8">Easily Attainable Data</div></div>
            <p class="text-wrapper-9">
              Introducing clear and accessible outcomes through reports that spotlight quality enhancements, ensuring
              instant comprehension.
            </p>
          </div>
        </div>
        <div class="group-3">
          <div class="overlap-2">
            <img class="vector" src="../../../assets/img/vector-3.svg" />
            <div class="overlap-group-4"><div class="text-wrapper-8">Execution</div></div>
            <p class="text-wrapper-10">
              We will guide you through a personalized process tailored to your industry and goals, equipping you with
              essential tools to implement meaningful enhancements
            </p>
          </div>
        </div>
        <div class="group-4">
          <div class="overlap-2">
            <img class="vector" src="../../../assets/img/vector-4.svg" />
            <div class="overlap-group-5"><div class="text-wrapper-8">Ongoing Monitoring</div></div>
            <p class="text-wrapper-11">
              Improvement never rests. Our platform provides continuous monitoring to assess the impact of implemented
              enhancements
            </p>
          </div>
        </div>
        <div class="overlap-3">
          <img class="img" src="../../../assets/img/line-3.svg" />
          <img class="group-5" src="../../../assets/img/group-2.png" />
          <div class="text-wrapper-12">We are ChAI</div>
          <div class="text-wrapper-13">Nuestro Equipo</div>
          <p class="text-wrapper-14">
            We are a passionate team of professionals dedicated to innovation and business success. With a background in
            technology, we aspire to transform and enhance your business approach
          </p>
          <p class="text-wrapper-15">
            Trabajamos ofreciendo soluciones inteligentes y personalizadas con asistencia de Inteligencia Artificial.
            Nuestra misión es mantenerte siempre un paso adelante en el dinámico y competitivo mundo empresarial,
            brindándote las herramientas necesarias para alcanzar tus metas y superar tus desafíos.
          </p>
          <img class="rectangle-2" src="../../../assets/img/rectangle-8.png" />
          <img class="img" src="../../../assets/img/line-5.svg" />
        </div>
        <div class="overlap-4">
          <img class="line-2" src="../../../assets/img/line-4.svg" />
          <div class="property-default">
            <div class="copy-component">
              <div class="heading-text">
                <div class="heading">Plan de Suscripción</div>
                <p class="subheading">Elige la opción que mejor que se adapte a ti.</p>
              </div>
            </div>
            <div class="price-plans">
              <div class="plan">
                <div class="heading-2">
                  <div class="title">Básico</div>
                  <div class="short-description">Ideal para emprendedores</div>
                </div>
                <div class="div-2"><div class="element">$10.000 ARS</div></div>
                <div class="feature-list">
                  <div class="div-2">
                    <img class="img-2" src="../../../assets/img/checkcircle-icon-10.svg" />
                    <div class="list-item">Proyectos limitados</div>
                  </div>
                  <div class="div-2">
                    <img class="img-2" src="../../../assets/img/checkcircle-icon.svg" />
                    <div class="list-item">5 GB de Almacenamiento</div>
                  </div>
                  <div class="div-2">
                    <img class="img-2" src="../../../assets/img/checkcircle-icon-9.svg" />
                    <div class="list-item">Soporte Básico</div>
                  </div>
                  <div class="div-2">
                    <img class="img-2" src="../../../assets/img/checkcircle-icon-8.svg" />
                    <div class="list-item">Integraciones</div>
                  </div>
                </div>
                <button class="button">
                  <div class="text-container"><button class="CTA">Contratar Básico</button></div>
                </button>
              </div>
              <div class="plan-2">
                <div class="heading-2">
                  <div class="title">Profesional</div>
                  <div class="short-description">Para pequeñas empresas</div>
                </div>
                <div class="div-2">
                  <div class="price">
                    <div class="element">$25.000 ARS</div>
                    <div class="element-2">98</div>
                  </div>
                  <div class="details-container"></div>
                </div>
                <div class="feature-list">
                  <div class="div-2">
                    <img class="img-2" src="../../../assets/img/checkcircle-icon-3.svg" />
                    <div class="list-item">Proyectos Ilimitados</div>
                  </div>
                  <div class="div-2">
                    <img class="img-2" src="../../../assets/img/checkcircle-icon-4.svg" />
                    <div class="list-item">Almacenamiento Ilimitado</div>
                  </div>
                  <div class="div-2">
                    <img class="img-2" src="../../../assets/img/checkcircle-icon-6.svg" />
                    <div class="list-item">Soporte dedicado</div>
                  </div>
                  <div class="div-2">
                    <img class="img-2" src="../../../assets/img/checkcircle-icon-2.svg" />
                    <div class="list-item-2">Acceso Premium</div>
                  </div>
                </div>
                <button class="text-container-wrapper">
                  <div class="text-container"><button class="CTA-2">Contratar Profesional</button></div>
                </button>
              </div>
              <div class="plan">
                <div class="heading-2">
                  <div class="title">Empresarial</div>
                  <div class="short-description">Para grandes empresas</div>
                </div>
                <div class="div-2"><div class="element">$20.000 ARS</div></div>
                <div class="feature-list">
                  <div class="div-2">
                    <img class="img-2" src="../../../assets/img/checkcircle-icon-11.svg" />
                    <div class="list-item">Proyectos Ilimitados</div>
                  </div>
                  <div class="div-2">
                    <img class="img-2" src="../../../assets/img/checkcircle-icon-5.svg" />
                    <div class="list-item">Almacenamiento Ilimitado</div>
                  </div>
                  <div class="div-2">
                    <img class="img-2" src="../../../assets/img/checkcircle-icon-7.svg" />
                    <div class="list-item">Soporte 24/7</div>
                  </div>
                  <div class="div-2">
                    <img class="img-2" src="../../../assets/img/image.svg" />
                    <div class="list-item">Integraciones Personalizadas</div>
                  </div>
                </div>
                <button class="button">
                  <div class="text-container"><button class="CTA">Contratar Empresarial</button></div>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="nav"></div>
        <div class="group-6">
          <div class="overlap-5">
            <div class="text-wrapper-16">lA BALSA</div>
            <div class="text-wrapper-17">IT SOLUTIONS</div>
          </div>
          <img class="LOGO" src="../../../assets/img/logo-1.png" />
        </div>
        <div class="frame">
          <div class="frame-2">
            <div class="rectangle-3"></div>
            <div class="frame-3"><div class="text-wrapper-18">Home</div></div>
            <div class="frame-3"><div class="our-services">Our&nbsp;&nbsp;Services</div></div>
          </div>
          <div class="frame-wrapper">
            <div class="frame-3"><div class="text-wrapper-19">About Us</div></div>
          </div>
          <div class="frame-wrapper">
            <div class="frame-wrapper">
              <div class="frame-3"><div class="text-wrapper-19">Suscribe Us</div></div>
            </div>
          </div>
        </div>
        <div class="ellipse"></div>
        <img class="line-3" src="../../../assets/img/line-1.svg" />
        <div class="frame-4">
          <div class="frame-5">
            <div class="text-wrapper-20">Español</div>
            <img class="img-2" src="../../../assets/img/arrow.svg" />
          </div>
        </div>
      </div>
    </div>
