.dash-usuario {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .dash-usuario .div {
    background-color: #ffffff;
    width: 1366px;
    height: 3004px;
    position: relative;
  }
  
  /* .dash-usuario .overlap {
    position: absolute;
    width: 1366px;
    height: 832px;
    top: 0;
    left: 0;
    background-image: url(./../../../assets/img/group.png);
    background-size: 100% 100%;
  }
  
  .dash-usuario .text-wrapper {
    position: absolute;
    top: 201px;
    left: 50px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dash-usuario .overlap-group {
    position: absolute;
    width: 1364px;
    height: 671px;
    top: 63px;
    left: 2px;
  }
  
  .dash-usuario .p {
    position: absolute;
    width: 550px;
    top: 339px;
    left: 48px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .dash-usuario .rectangle {
    position: absolute;
    width: 847px;
    height: 671px;
    top: 0;
    left: 517px;
    object-fit: cover;
  }
  
  .dash-usuario .group {
    position: absolute;
    width: 52px;
    height: 234px;
    top: 243px;
    left: 1312px;
  }
  
  .dash-usuario .text-wrapper-2 {
    position: absolute;
    width: 586px;
    top: 199px;
    left: 48px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
   */
  /* .dash-usuario .line {
    position: absolute;
    width: 1363px;
    height: 7px;
    top: 663px;
    left: 0;
  }
  
  .dash-usuario .overlap-group-wrapper {
    position: absolute;
    width: 199px;
    height: 45px;
    top: 543px;
    left: 227px;
  }
  
  .dash-usuario .div-wrapper {
    position: relative;
    width: 197px;
    height: 45px;
    border-radius: 6px;
    background: linear-gradient(180deg, rgb(189.13, 222.61, 255) 0%, rgb(79, 112, 156) 100%);
  }
  
  .dash-usuario .text-wrapper-3 {
    position: absolute;
    top: 11px;
    left: 49px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  } */
  
 
  

  .dash-usuario .overlap-4 {
    position: absolute;
    width: 1363px;
    height: 794px;
    top: 2192px;
    left: 0;
  }
  
  .dash-usuario .line-2 {
    position: absolute;
    width: 1363px;
    height: 7px;
    top: 80px;
    left: 0;
  }
  
  .dash-usuario .property-default {
    display: flex;
    flex-direction: column;
    width: 1280px;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 120px 16px;
    position: absolute;
    top: 0;
    left: 55px;
  }
  
  .dash-usuario .copy-component {
    display: flex;
    flex-direction: column;
    min-width: 304px;
    max-width: 720px;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .dash-usuario .heading-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    width: 100%;
    flex: 0 0 auto;
    position: relative;
    align-self: stretch;
  }
  
  .dash-usuario .heading {
    margin-top: -1px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #121212;
    font-size: 24px;
    text-align: center;
    letter-spacing: -0.48px;
    line-height: 28.8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    position: relative;
    align-self: stretch;
  }
  
  .dash-usuario .subheading {
    position: relative;
    align-self: stretch;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #121212;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0;
    line-height: 28.6px;
  }
  
  .dash-usuario .price-plans {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    gap: 16px 16px;
    align-self: stretch;
    width: 100%;
    position: relative;
    flex: 0 0 auto;
  }
  
  .dash-usuario .plan {
    display: flex;
    flex-direction: column;
    min-width: 256px;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    padding: 32px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: #ffffff;
    border-radius: 32px;
    overflow: hidden;
    border: 1px solid;
    border-color: #000000;
  }
  
  .dash-usuario .heading-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .dash-usuario .title {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #121212;
    font-size: 38px;
    letter-spacing: -0.76px;
    line-height: 44.8px;
  }
  
  .dash-usuario .short-description {
    position: relative;
    align-self: stretch;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #121212;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  
  .dash-usuario .div-2 {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .dash-usuario .element {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #121212;
    font-size: 38px;
    letter-spacing: -0.76px;
    line-height: 44.8px;
    white-space: nowrap;
  }
  
  .dash-usuario .feature-list {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .dash-usuario .img-2 {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .dash-usuario .list-item {
    position: relative;
    flex: 1;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #121212;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
  }
  
  .dash-usuario .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 16px 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-radius: 8px;
    border: 1px solid;
    border-color: #121212;
    all: unset;
    box-sizing: border-box;
  }
  
  .dash-usuario .text-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0px 4px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .dash-usuario .CTA {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #121212;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 21px;
    white-space: nowrap;
    all: unset;
    box-sizing: border-box;
  }
  
  .dash-usuario .plan-2 {
    display: flex;
    flex-direction: column;
    min-width: 256px;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    padding: 40px 32px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: #ffffff;
    border-radius: 32px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .dash-usuario .price {
    display: inline-flex;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .dash-usuario .element-2 {
    position: relative;
    width: 23px;
    height: 28px;
    margin-top: -1px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25.2px;
    white-space: nowrap;
  }
  
  .dash-usuario .details-container {
    position: relative;
    flex: 0 0 auto;
    margin-right: -24.67px;
  }
  
  .dash-usuario .list-item-2 {
    position: relative;
    flex: 1;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #121212;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
  }
  
  .dash-usuario .text-container-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 16px 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-radius: 8px;
    background: linear-gradient(180deg, rgb(189.13, 222.61, 255) 0%, rgb(79, 112, 156) 100%);
    all: unset;
    box-sizing: border-box;
  }
  
  .dash-usuario .CTA-2 {
    color: #ffffff;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 21px;
    white-space: nowrap;
    all: unset;
    box-sizing: border-box;
  }
  

  
  .dash-usuario .ellipse {
    position: fixed;
    width: 36px;
    height: 36px;
    top: 18px;
    left: 1184px;
    background-color: #d9d9d9;
    border-radius: 18px;
  }
  
  .dash-usuario .line-3 {
    position: fixed;
    width: 1px;
    height: 72px;
    top: 0;
    left: 1249px;
  }
  
  .dash-usuario .frame-4 {
    display: flex;
    width: 102px;
    height: 28px;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 22px;
    left: 1257px;
  }
  
  .dash-usuario .frame-5 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    position: relative;
    flex: 0 0 auto;
    margin-top: -0.5px;
    margin-bottom: -0.5px;
  }
  
  .dash-usuario .text-wrapper-20 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #121212;
    font-size: 19px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  