    <div class="dash-usuario">
      <div class="div">
       <app-overlap></app-overlap>
     
       <app-overlap2></app-overlap2>
       <app-overlap3></app-overlap3>
       <app-nav-bar></app-nav-bar>
       
        <!-- <div class="overlap-4">
          <img class="line-2" src="../../../assets/img/line-4.svg" />
          <div class="property-default">
            <div class="copy-component">
              <div class="heading-text">
                <div class="heading">Plan de Suscripción</div>
                <p class="subheading">Elige la opción que mejor que se adapte a ti.</p>
              </div>
            </div>
            <div class="price-plans">
              <div class="plan">
                <div class="heading-2">
                  <div class="title">Básico</div>
                  <div class="short-description">Ideal para emprendedores</div>
                </div>
                <div class="div-2"><div class="element">$10.000 ARS</div></div>
                <div class="feature-list">
                  <div class="div-2">
                    <img class="img-2" src="../../../assets/img/checkcircle-icon-10.svg" />
                    <div class="list-item">Proyectos limitados</div>
                  </div>
                  <div class="div-2">
                    <img class="img-2" src="../../../assets/img/checkcircle-icon.svg" />
                    <div class="list-item">5 GB de Almacenamiento</div>
                  </div>
                  <div class="div-2">
                    <img class="img-2" src="../../../assets/img/checkcircle-icon-9.svg" />
                    <div class="list-item">Soporte Básico</div>
                  </div>
                  <div class="div-2">
                    <img class="img-2" src="../../../assets/img/checkcircle-icon-8.svg" />
                    <div class="list-item">Integraciones</div>
                  </div>
                </div>
                <button class="button">
                  <div class="text-container"><button class="CTA">Contratar Básico</button></div>
                </button>
              </div>
              <div class="plan-2">
                <div class="heading-2">
                  <div class="title">Profesional</div>
                  <div class="short-description">Para pequeñas empresas</div>
                </div>
                <div class="div-2">
                  <div class="price">
                    <div class="element">$25.000 ARS</div>
                    <div class="element-2">98</div>
                  </div>
                  <div class="details-container"></div>
                </div>
                <div class="feature-list">
                  <div class="div-2">
                    <img class="img-2" src="../../../assets/img/checkcircle-icon-3.svg" />
                    <div class="list-item">Proyectos Ilimitados</div>
                  </div>
                  <div class="div-2">
                    <img class="img-2" src="../../../assets/img/checkcircle-icon-4.svg" />
                    <div class="list-item">Almacenamiento Ilimitado</div>
                  </div>
                  <div class="div-2">
                    <img class="img-2" src="../../../assets/img/checkcircle-icon-6.svg" />
                    <div class="list-item">Soporte dedicado</div>
                  </div>
                  <div class="div-2">
                    <img class="img-2" src="../../../assets/img/checkcircle-icon-2.svg" />
                    <div class="list-item-2">Acceso Premium</div>
                  </div>
                </div>
                <button class="text-container-wrapper">
                  <div class="text-container"><button class="CTA-2">Contratar Profesional</button></div>
                </button>
              </div>
              <div class="plan">
                <div class="heading-2">
                  <div class="title">Empresarial</div>
                  <div class="short-description">Para grandes empresas</div>
                </div>
                <div class="div-2"><div class="element">$20.000 ARS</div></div>
                <div class="feature-list">
                  <div class="div-2">
                    <img class="img-2" src="../../../assets/img/checkcircle-icon-11.svg" />
                    <div class="list-item">Proyectos Ilimitados</div>
                  </div>
                  <div class="div-2">
                    <img class="img-2" src="../../../assets/img/checkcircle-icon-5.svg" />
                    <div class="list-item">Almacenamiento Ilimitado</div>
                  </div>
                  <div class="div-2">
                    <img class="img-2" src="../../../assets/img/checkcircle-icon-7.svg" />
                    <div class="list-item">Soporte 24/7</div>
                  </div>
                  <div class="div-2">
                    <img class="img-2" src="../../../assets/img/image.svg" />
                    <div class="list-item">Integraciones Personalizadas</div>
                  </div>
                </div>
                <button class="button">
                  <div class="text-container"><button class="CTA">Contratar Empresarial</button></div>
                </button>
              </div>
            </div>
          </div>
        </div> -->
 
    </div>
 </div>
   
